data-preparation/trips/ridership-data
data-preparation/trips/graphhopper
data-preparation/trips/trips
data-preparation/trips/map-data
data-preparation/growth/ridership-data
data-preparation/efit/data
data-preparation/efit/plots

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.ipynb_checkpoints
